In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import KFold
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split

In [41]:
df = pd.read_csv('data/labeled_train.csv')

In [42]:
df.head()

,Unnamed: 0,Unnamed: 0.1,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,...,plan_configuration_m,plan_configuration_n,plan_configuration_o,plan_configuration_q,plan_configuration_s,plan_configuration_u,legal_ownership_status_a,legal_ownership_status_r,legal_ownership_status_v,legal_ownership_status_w
0,0,47748,4,30,266,1224,1,25,5,2,...,0,0,0,0,0,0,0,0,1,0
1,1,212102,8,17,409,12182,2,0,13,7,...,0,0,0,0,0,0,0,0,1,0
2,2,60133,12,17,716,7056,2,5,12,6,...,0,0,0,0,0,0,0,0,1,0
3,3,34181,16,4,651,105,2,80,5,4,...,0,0,0,0,0,0,0,0,1,0
4,4,25045,17,3,1387,3909,5,40,5,10,...,0,0,0,0,0,0,0,0,1,0

In [43]:
labels = df["damage_grade"]
df.drop(["damage_grade"], axis=1, inplace=True)

In [44]:
df.head()

,Unnamed: 0,Unnamed: 0.1,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,...,plan_configuration_m,plan_configuration_n,plan_configuration_o,plan_configuration_q,plan_configuration_s,plan_configuration_u,legal_ownership_status_a,legal_ownership_status_r,legal_ownership_status_v,legal_ownership_status_w
0,0,47748,4,30,266,1224,1,25,5,2,...,0,0,0,0,0,0,0,0,1,0
1,1,212102,8,17,409,12182,2,0,13,7,...,0,0,0,0,0,0,0,0,1,0
2,2,60133,12,17,716,7056,2,5,12,6,...,0,0,0,0,0,0,0,0,1,0
3,3,34181,16,4,651,105,2,80,5,4,...,0,0,0,0,0,0,0,0,1,0
4,4,25045,17,3,1387,3909,5,40,5,10,...,0,0,0,0,0,0,0,0,1,0

In [45]:
labels.head()

0    2
1    3
2    3
3    2
4    2
Name: damage_grade, dtype: int64

In [46]:
x_train, x_test, y_train, y_test = train_test_split(df, labels, test_size=.2)

In [48]:
kmeans = KMeans(n_clusters=3)
y_pred = kmeans.fit_predict(df)
kmeans.cluster_centers_

array([[2.17559000e+05, 1.30315919e+05, 8.78945036e+05, 1.38652463e+01,
        7.01502538e+02, 6.24978444e+03, 2.13162878e+00, 2.63222123e+01,
        8.00199807e+00, 5.44210820e+00, 8.86586202e-02, 7.63414379e-01,
        3.49894869e-02, 1.79594113e-02, 6.71328834e-02, 7.58337883e-02,
        2.55160717e-01, 8.47321771e-02, 4.30398569e-02, 1.57406224e-02,
        1.54153549e-02, 9.83643693e-01, 1.12740030e-01, 6.55530128e-02,
        3.35141666e-02, 7.88773625e-03, 9.64185728e-04, 3.36884170e-04,
        1.23136972e-03, 1.85867128e-04, 1.39400346e-04, 5.80834776e-05,
        4.83254533e-03, 5.51793037e-03, 4.04958006e-02, 8.42291742e-01,
        5.47494860e-02, 5.69450414e-02, 1.38064426e-01, 3.15044782e-02,
        8.30431096e-01, 7.00521590e-01, 2.36887655e-01, 6.25907554e-02,
        8.04305147e-01, 2.19555545e-03, 9.42578674e-02, 9.54079203e-02,
        3.83350952e-03, 1.52933796e-01, 6.33249306e-01, 4.67688161e-02,
        1.67048082e-01, 5.14038777e-02, 8.64282146e-03, 7.76959446e-01,
        1.62993855e-01, 1.03388590e-03, 1.15005286e-03, 9.59190549e-01,
        1.27783651e-04, 1.39400346e-04, 1.85867128e-04, 5.34367994e-04,
        2.19671712e-02, 1.35915338e-03, 1.43117689e-02, 2.06428679e-02,
        5.45984689e-03, 9.64023094e-01, 9.87419119e-03],
       [4.39765010e+04, 1.30423701e+05, 1.76083142e+05, 1.39264502e+01,
        7.00427326e+02, 6.24907000e+03, 2.13113673e+00, 2.67299384e+01,
        8.03286945e+00, 5.43924097e+00, 8.87736771e-02, 7.61159242e-01,
        3.42792824e-02, 1.77592833e-02, 6.90701958e-02, 7.47095072e-02,
        2.53155058e-01, 8.39074971e-02, 4.21811401e-02, 1.64176729e-02,
        1.48486709e-02, 9.84184915e-01, 1.11501467e-01, 6.40334720e-02,
        3.34038247e-02, 8.32253223e-03, 9.89153421e-04, 3.52456966e-04,
        1.02326216e-03, 1.93282852e-04, 1.59174114e-04, 1.25065375e-04,
        5.19589786e-03, 5.62794188e-03, 4.08281602e-02, 8.40200559e-01,
        5.50173955e-02, 5.83259431e-02, 1.34206517e-01, 3.19371490e-02,
        8.33856334e-01, 7.01980581e-01, 2.35975624e-01, 6.20437956e-02,
        8.03329013e-01, 1.76228483e-03, 9.46972281e-02, 9.62775997e-02,
        3.93387453e-03, 1.52875367e-01, 6.34558974e-01, 4.60922755e-02,
        1.66473384e-01, 5.07424335e-02, 9.22072902e-03, 7.73927280e-01,
        1.66109557e-01, 8.86827205e-04, 1.06874048e-03, 9.59865384e-01,
        5.68478978e-05, 2.16022012e-04, 1.47804534e-04, 6.13957296e-04,
        2.20228756e-02, 1.14832753e-03, 1.39732133e-02, 2.13520704e-02,
        5.73026809e-03, 9.62559975e-01, 1.03576870e-02],
       [1.31235499e+05, 1.30158482e+05, 5.29574815e+05, 1.39087496e+01,
        7.01306964e+02, 6.27487044e+03, 2.12639203e+00, 2.65486230e+01,
        8.01895707e+00, 5.42171110e+00, 8.85009935e-02, 7.61251791e-01,
        3.37322675e-02, 1.89917287e-02, 6.82385287e-02, 7.52737859e-02,
        2.56677141e-01, 8.64100550e-02, 4.25581073e-02, 1.54105633e-02,
        1.46943302e-02, 9.84011829e-01, 1.11408900e-01, 6.35599094e-02,
        3.39633104e-02, 8.08650247e-03, 8.66410979e-04, 3.92772977e-04,
        9.58828150e-04, 1.84834342e-04, 1.38625757e-04, 8.08650247e-05,
        5.32553949e-03, 5.52192597e-03, 4.04556167e-02, 8.40880736e-01,
        5.43875052e-02, 5.87542165e-02, 1.36765861e-01, 3.22882492e-02,
        8.30945890e-01, 7.02335844e-01, 2.35998799e-01, 6.16653574e-02,
        8.05484959e-01, 1.89455201e-03, 9.41499931e-02, 9.46813918e-02,
        3.78910402e-03, 1.52858001e-01, 6.34882861e-01, 4.56078739e-02,
        1.66651264e-01, 5.07601312e-02, 8.98756989e-03, 7.75576452e-01,
        1.64675847e-01, 9.81932443e-04, 1.52488332e-03, 9.59729218e-01,
        6.93128783e-05, 1.73282196e-04, 1.03969317e-04, 6.81576637e-04,
        2.15332009e-02, 1.47867474e-03, 1.37239499e-02, 2.14523358e-02,
        5.76452105e-03, 9.62201377e-01, 1.05817661e-02]])

In [68]:
y_pred.shape
df.shape
df['y'] = y_pred
(y_pred == labels).value_counts()

False    202718
True      57883
Name: damage_grade, dtype: int64

In [64]:
plt.scatter(df['y'] == 0)
plt.legend(scatterpoints=1)
plt.grid()
plt.show()

TypeError: scatter() missing 1 required positional argument: 'y'

In [53]:
np.unique(y_pred)

array([0, 1, 2], dtype=int32)