In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_score

In [2]:
df = pd.read_csv('data/labeled_train.csv')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,...,plan_configuration_m,plan_configuration_n,plan_configuration_o,plan_configuration_q,plan_configuration_s,plan_configuration_u,legal_ownership_status_a,legal_ownership_status_r,legal_ownership_status_v,legal_ownership_status_w
0,0,47748,4,30,266,1224,1,25,5,2,...,0,0,0,0,0,0,0,0,1,0
1,1,212102,8,17,409,12182,2,0,13,7,...,0,0,0,0,0,0,0,0,1,0
2,2,60133,12,17,716,7056,2,5,12,6,...,0,0,0,0,0,0,0,0,1,0
3,3,34181,16,4,651,105,2,80,5,4,...,0,0,0,0,0,0,0,0,1,0
4,4,25045,17,3,1387,3909,5,40,5,10,...,0,0,0,0,0,0,0,0,1,0

In [4]:
labels = df["damage_grade"]
df.drop(["damage_grade"], axis=1, inplace=True)

In [5]:
labels.head()

0    2
1    3
2    3
3    2
4    2
Name: damage_grade, dtype: int64

In [20]:
X_train, X_test, y_train, y_test = train_test_split(df, labels, test_size=0.2)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(208480, 71)
(208480,)
(52121, 71)
(52121,)

In [40]:
classifier = MLPClassifier(solver='sgd', activation='tanh', learning_rate='adaptive', max_iter=300, alpha=0.05, shuffle=True)

In [41]:
classifier.fit(X_train, y_train)

MLPClassifier(activation='tanh', alpha=0.05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='adaptive',
       learning_rate_init=0.001, max_iter=300, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='sgd', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [42]:
y_pred = classifier.predict(X_test)

In [46]:
f1_score(y_test, y_pred, average='micro')

0.5631703152280271

In [47]:
scores = cross_val_score(classifier, df, labels, cv=5)

In [48]:
scores

array([0.56875348, 0.56890697, 0.56890697, 0.56891788, 0.56892053])